@media screen and ((min-width:480px) and (max-width:1200px)){
    body{
        color:var(--txtColor);
        background-color: rgb(22, 21, 21);
        width:100%;
        font-size: 1.1em;
        overflow-x: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .content{
        width:inherit;
        max-width: inherit;
        padding:0% 0%;
    }
    .text{
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s  linear;
    }
    .image{
        width:100%;
        max-width: 100%;
        height: 200px;
        background-color: rgba(255, 217, 0, 0.648);
        position: relative;
        overflow: hidden;
        border-bottom:2px solid rgb(146, 125, 9) ;
    }
    .slider {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        height: 200px;
        z-index: 0;
        transition: animation 1s ease-in-out; 
    }
    .image .slider img{
        height:100%;
        width:100%;
    }
    #navigation{
        width:100%;
        height:100%;
        max-width: 60%;
        position: fixed;
        top:0;
        bottom: 0;
        margin-left: -103%;
        transition:animation 1s ease-in-out;
        background-color: rgba(22, 21, 21, 0.762);
        list-style: none;
        z-index: 10;
        /*animation:slide_in 2s forwards;*/ 
    }
    .navbar{
        width:100%;
        z-index:100;
        top:200px;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 0%;
        border-top: 2px solid var(--decorativeColor);
        border-bottom: 2px solid var(--decorativeColor);
        background-image: linear-gradient(90deg ,var(--themeColor),var(--themeColor), var(--glassColor) );
    }
    #dropdown{
        padding: 2% 2% 2% 2%;
        align-content: center;
        background-color: var(--txtColor);
        border-radius: 50%;
        cursor: pointer;
       
    }
    #dropdown img{
        background-color: aqua;
        height:50px;
        width:50px;
    }
    #navigation li{
        font-size: 1.5em;
        padding: 2% 2% 2% 2%;
        color:var(--decorativeColor);
        padding-bottom: 4%;
        border-top:1px solid var(--decorativeColor);
        border-bottom:1px solid var(--decorativeColor);
    }
    .head_bar{
        color:var(--txtColor);
        background-image: linear-gradient( var(--gradientColor1),var(--gradientColor2) );
    }
    #navigation li a{
        color:var(--txtColor);
        text-decoration: none;
    }
    #navigation li:hover{
         transform: scale(1.05);
         box-shadow: 0 0 5px var(--txtColor);
         background-color:rgba(32, 31, 31, 0.372) ;
    }
    #navigation li:hover a{
        color:var(--decorativeColor)enrod;
    }
    .active{
        background-color:rgb(50, 49, 44) ;
    }
    .title{
       color:rgb(40, 38, 38);
    }
    .logo{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0%;
    }
    .logo div h2{
        color:var(--decorativeColor);
        transition: transform 1s ease-in-out;
    }
    span{
        color:var(--txtColor);
    }
    .logo .logo_text{
        margin:0% 0% 0% 1% ;
        font-size: 1.2em;
        justify-content: center;
        text-align: left;
        width:30%;
    }
    .logo .logo_image{
        margin:0% 0% 0% 0% ;
        width:6%;
    }
    .logo_text h2{
        margin: 0;
    }
    .logo_image img,.navtrigger img{
        border-radius: 50%;
        width:45px;
        height: 100%;    
    }
    .logo_image,.logo_text,.navtrigger {
        display:flex;
    }
    .navtrigger{
        margin:0% 0% 0% 0% ;
        right:0;
        width:63%;
        padding:0% 1%;
        display: block;
     }
     .navtrigger img{
        float: right;
     }
    .logo div h2:hover{
        color:var(--txtColor);
        transform:scale(1.05);
        text-shadow: 0 0 10px var(--txtColor);
    }
    .logo div h2:hover > span{
        color:var(--decorativeColor);
    }
    /*index.php*/
    .content .intro{
        margin: 1% 0%;
        padding: 1% 2%;
        color:var(--txtColor);
        height:35%;
        width:95%;
        background-image:url('../media/cross3.jpg');
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 5px var(--txtColor);
    }
    .content .intro h3{
        color:var(--decorativeColor);
        opacity: 1;
       
    }
    .content .intro .text{
        animation: typing 4s  infinite alternate-reverse,
        
    }
    .content .intro button{
        color:var(--txtColor2);
        background-image: linear-gradient(to right,var(--themeColor),var(--decorativeColor));
        padding: 2% 2% 2% 2%;
        border:1px solid var(--txtColor2);
        
        border-radius: 10px;
        transition: transform 0.5s ease-in-out,
                     box-shadow 0.8s ease-in-out
                    ,background-image 1s ease-in-out;
    }
    .content .intro button:hover{
        transform: scale(1.05);
        color:var(--txtColor);
        background-image: linear-gradient(to right,var(--decorativeColor),var(--themeColor));
        box-shadow: 0 0 3px var(--txtColor);
        

    }
    .content .intro span{
         color:var(--decorativeColor);
         }
     .content .intro p span{
        color:var(--decorativeColor);
        }
    .bible-verse{
        margin: 4% 0% 2% 0%;
        padding:2% 2% 2% 0%;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        width: 93%;
        background-image:var(--gradientdiv);
    }
    .bible_cont{
        background-color:transparent;
        margin: 3% 2% 2% 2%;
        padding: 0% 2% 2% 0%;
    }
    .bible_cont p{
        align-items: center;
        margin-top: -3% ;   
    }
    .bible-verse h2{
        color:var(--decorativeColor);
        margin:0% 0% 0% 2%;
       
    }
    .bible-verse h3{
        color:var(--decorativeColor2);
    }
    .gallery{
        width:95%;
        display: inline-block;
        overflow:hidden;
        padding: 2% 2% 0% 2%;
        margin: 2% 0%;
        border-radius: 5px;
    }
    .gallery_image{
        display: inline-block;
        width:31.5%;
        max-width:32%;
        background-color: transparent;
        height:52vh;
        padding:0% 1% 0% 0%;
        border-radius: 10px;
        z-index: 1;
        margin:2% 0%;
    }
    .gallery_image img{
        z-index: 1;
        max-width:100%;
        width:100%;
        height: 100%;
        border-radius: 10px;
        box-shadow:  0 0 2px var(--decorativeColor); 
        transition: transform .1s ease-in-out; 
    }
    .gallery_image img:hover{
        transform: scale(1.05); 
        box-shadow:  0 0 5px var(--decorativeColor); 
        cursor: pointer;
    }
    .gallery h2{
        margin:0% 0% 5% 0%;
        margin:0% 0% 5% 0%;
        color:var(--decorativeColor);
    }
    .gallery button{
        width:20%;
        height: 7vh;
        font-size: 1.2em;
        background-image: linear-gradient(to left,var(--themeColor),var(--decorativeColor));
        transition: transform 0.3s ease-in-out,background-image 0.2s ease-in-out;
        border:0.4px solid var(--decorativeColor);
        color:var(--txtColor);
        margin: 1% 40%;
        border-radius:10px;
    }
    .gallery button:hover{
        transform: scale(1.05);
        box-shadow: 0 0 2px var(--decorativeColor);
        background-image: linear-gradient(to right,var(--themeColor),var(--decorativeColor));
    }
     .slide_set {
        display: none;
        position: absolute;
        transition: animation 1s ease-in-out;   
    }
    .services{
        max-width:95%;
        margin: 4% 0% 2% 0%;
        padding:2% 2% 2% 2%;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        font-size:1em; 
        animation:backimage 5s infinite alternate-reverse;
        transition: anumation .2s ease-in-out;
        background-image:--gradientdiv;
        background-position: right;
    }
    .services h2{
        margin:0% 0% 0% 0%;
        color:var(--decorativeColor);
    }
    .services h3,.services h4{
        color:var(--decorativeColor);
    }
    .services .flyer{
        float:right;
        width: 30%;
        height: inherit;
        max-height: 20vh;
    }
    .service_cont .description{
        display: inline-block;
    }
    .services .flyer img{
        float:right;
        width: 100%;
        height: inherit;
        max-height: 20vh;
        border-radius:10px;

        transition: transform 1s ease-in-out,
                    box-shadow 1s ease-in-out;
        box-shadow: 0 0 2px var(--decorativeColor);
    }
    .services .flyer img:hover{
        transform: scale(1.05);
        box-shadow: 0 0 5px var(--decorativeColor);
    }
    .about_us{
        padding: 2% 0% 2% 0.5%;
        max-width: 95%;
        align-items: center;
    }
    .about_us .mission,.about_us .vision{
        padding: 2% 1% 2% 1%;
        display: inline-block;
        width:45%;
        margin: 0% 1% 2% 1%;
        text-align: justify;
        align-items: center;
        box-shadow: 0 0 2px var(--txtColor);
        transition: transform 0.5s ease-in-out,
                     box-shadow 0.8s ease-in-out
                    ,background-image 1s ease-in-out;
    }
    .about_us .mission h3,.about_us .vision h3{
        color:var(--decorativeColor);
        margin: 0% 0% 0% 0%;
        text-align: center;
        
    }
    .about_us .mission p,.about_us .vision p{
        font-size: 1em;

    }
    .about_us .mission{
        background-image:--gradientdiv;
    }
    .about_us .vision{
        background-image: linear-gradient(to right,rgba(255, 217, 0, 0.071),var(--themeColor));
    }
    .about_us .mission button,.about_us .vision button{
        color:var(--txtColor2);
        background-image: linear-gradient(to right,var(--themeColor),var(--decorativeColor));
        padding: 2% 2% 2% 2%;
        border:1px solid var(--txtColor2);
        
        border-radius: 10px;
        transition: transform 0.5s ease-in-out,
                     box-shadow 0.8s ease-in-out
                    ,background-image 1s ease-in-out;
    }
    .about_us .mission button:hover,.about_us .vision button:hover{
        transform: scale(1.05);
        color:var(--txtColor);
        background-image: linear-gradient(to right,rgba(255, 217, 0, 0.071),var(--themeColor));
        box-shadow: 0 0 3px var(--txtColor);
    }
    .about_us .mission:hover,.about_us .vision:hover{
        transform: scale(1.02);
        color:var(--txtColor);
        background-image: var(--gradient2_hover);
        box-shadow: 0 0 3px var(--txtColor);
    }
    button a{
        color:inherit;
    }
/*index.php end*/
/*about.php*/
    a{
        text-decoration: none;
        color:var(--decorativeColor);
    }
    .content .about_info{
        margin:1% 1% 1% 0%;
        padding:2% 2% 2% 2%;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        width:95%;
        background-image:--gradientdiv;
    }
    .content .about_info h3{
        color:var(--decorativeColor);
    }
    .content .about_info p{
        text-align: left;
    }
    .content .about_info span{
        color:var(--decorativeColor);
    }
    .content .B_logo{
        width:95%;
        margin:2% 1% 2% 0%;
        padding:2% 2% 2% 2%;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        background-image: url(../media/cross1.jpg);
        background-repeat:no-repeat repeat;
        background-size: cover;
    }
    .content .B_logo img{
        width:30%; 
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0 0 2px var(--decorativeColor);
        transition:transform .2s ease-in-out;
    }
    .content .B_logo img:hover{
        transform: scale(1.05); 
        box-shadow:  0 0 5px var(--decorativeColor); 
    }
    .content .B_logo p span{
        color:var(--decorativeColor);
    }
    .content .B_logo h2{
        color:var(--decorativeColor); 
        margin:0% 0% 2% 0%;
    }
    .content .B_pillars{
        width:95%;
        margin:2% 1% 2% 0%;
        padding:2% 2% 2% 2%;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        background-image:--gradientdiv;
    }
    .content .B_pillars h2,.content .B_pillars h3{
        color:var(--decorativeColor);
    }
    .content .B_pillars .pillars li{
        list-style: none;
        display: inline-block;
    }
    .content .B_pillars .pillar_meaning {
        max-width: 100%;
        padding:2% 2% 2% 2%;
        height:60px;
        position: relative;
        overflow: hidden;
    }
    .content .B_pillars .pillar_meaning .meaning{
         height:100%;
         padding:0% 2% 2% 0%;
         display: inline-block;
         width:100%;
         display: none;
         background-color: transparent;
         transition: animation 1s ease-in-out;    
    }
    .content .B_pillars .pillar_meaning .meaning span{
        color:var(--decorativeColor);
    }
    .content .B_pillars .pillars{
       color:rgb(248, 241, 196);
       
    }
    .content .Departments{
        width:93%;
        margin:1% 1% 1% 0%;
        padding:1% 1% 1% 2% ;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        background-image:--gradientdiv;
    }
    .content .Departments h2{
        color:var(--decorativeColor);
    }
   .content .Departments .B_army  p span ,.content .Departments .B_lounge  p span{
         color:var(--decorativeColor);
   }
   .content .Departments .B_army h3,.content .Departments .B_lounge  h3{
    color:var(--decorativeColor);
    }
    .content .commit h2{
        color:var(--decorativeColor);
    }
    .content .commit{
        width: 90%;
        margin:2% auto;
        padding:2% 2% 2% 0%;
        border-radius: 10px;
        font-size: 1em;
       
    }
   
    .slideshow-container {
        display: flex;
        position: relative;
        width: 100%; /* Adjust the size */
        height: 75vh; /* Adjust the size */
        margin: auto;
        border: none;
        border-radius: 10px;
      }
  
      .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease, transform 1s ease; /* Smooth fade and slide */
      }
  
      /* Entering animation: slide from right and fade in */
      .slide.active {
        opacity: 1;
        transform: translateX(0);
      }
  
      /* Leaving animation: slide downward and fade out */
      .slide.slide-out {
        opacity: 0;
        transform: translateX(-30%);
      }
  
      /* Default state: positioned outside to the right */
      .slide.start-right {
        transform: translateX(100%);
      }
  
      .slide img {
        width: 48%; /* Adjust to leave room for descriptions */
        height: 100%;
        z-index: -10;
        border-radius: 5px;
        box-shadow: 0px 0px 5px var(--txtColor);
      }
  
      .description {
        border-radius: 5px;
        width: 48%; /* Make the description div take up the rest of the space */
        height: 100%;
        color: var(--txtColor);
        font-size: 1.2rem;
        padding: 10px;
        background-image: var(--gradient);
        backdrop-filter: blur(5px);
        z-index: 100;
        margin:0% 0% ;
        box-sizing: border-box;
        position: absolute;
        box-shadow: 0px 0px 5px var(--txtColor);
        right: 0; /* Position the description on the right */
      }
     
      .description li {
        margin: 0% 0%;
      }
      .description h3{
        text-align: center;
      }
      .description li span,.description h3 span{
        color:var(--decorativeColor);
      }
      .description ul{
        margin:auto;
        width: 80%;
      }
    .content .B_Ecree{
        margin:2% 1% 2% 0%;
        width:95%;
        padding:2% 2% 2% 2% ;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        font-size: 1.2em;
        background-image:--gradientdiv;
    }
    .content .B_Ecree h1,.content .B_Ecree sub,.content .B_Ecree li::marker{
        color:var(--decorativeColor);
    }
    .content .B_activities{
        margin:2% 1% 2% 0%;
        width:95%;
        padding:2% 2% 2% 2% ;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        background-image:--gradientdiv;
    }
    .content .B_activities h2,.content .B_activities p span{
        color:var(--decorativeColor);
    }
    .content .mission_version{
        margin:2% 1% 2% 1%;
        padding:2% 2% 2% 2%;
        overflow: hidden;
        height:230px;
    }
    .content .mission_version h2{
        color:var(--decorativeColor);
    }
    .content .mission_version h3{
        color:var(--decorativeColor);
    }
    .content .mission_aboutus{
        padding:0% 2% 2% 2%;
        height: 100%;
        object-fit: cover;
        display: none; 
        transition:display 3s ease-in-out;
    }
  
/*about.php end*/
/*history.php end*/
    .content .achievements{
        margin: 1% 1% 1% 1%;
        width:93%;
    }
    .achievements .year_options{
        color:var(--decorativeColor);
        padding: 1% 1% 1% 0%;
        background-color: transparent;
    }
    .achievements .year_options select{
        background-color: transparent;
        color:var(--decorativeColor);
        border: none;
    }
    .achievements .year_options select option{
        background-color: var(--themeColor);
        border: 1px solid var(--decorativeColor);
    }
    .achievements .year_options select option:hover{
        background-color: var(--decorativeColor);
        color:var(--themeColor);
    }
    .achievements .year_options select:focus{
        border: none; 
    }
    .achievements .title_option{
        padding: 1% 1% 1% 0%;
    }
    .achievements #year_details p span{
        color:var(--decorativeColor);
    }
    .title_option h2{
        color:var(--decorativeColor);
        margin:0;
    }
    .achievements .context{
        height:300px;
        width:60%;
        overflow:auto;
        margin: 0% 1% 0% 1%;
        padding: 2% 2% 2% 2%;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
        display: inline-block;
       
    }
    .achievements .history_slide{
       display: inline-block;
       width:28%;
       padding:1% 1% 1% 1%;
       margin: -5% 1% 0% 1%;
       height:300px;
       overflow: hidden;
    }
    .history_slide .history_images{
        height:100%;
        width:100%;
        display: inline;
    }
    .history_slide .history_image img{
        width:100%;
        height:300px;
        box-shadow: 0 0 2px var(--txtColor);
        border-radius: 10px;
    }
    .remark {
        margin:1% 1% 1% 1%;
        padding: 2% 2% 2% 2%;
    }
    .remark h2{
        color: var(--decorativeColor); 
    }
    .remark .slide_container{
        padding: 2% 1% 2% 1%;
        overflow: hidden;
        height:310px;  
        
    }
    .slide_container .event_slide{
        border-radius: 5px;
        margin:1% 1% 1% 1%;
        background-image: linear-gradient(to right,var(--themeColor),var(--themeColor),var(--gradientfooterColor_1));
        box-shadow: 0px 0px 5px var(--decorativeColor);
        position: relative;
        display:inline-block ;
        z-index: 0;
        width:180px;
        height:310px;
    }
    .slide_container .event_slide img{
        height: 150px;
        width:100%;
        border-bottom-color:var(--decorativeColor);
        border-bottom-style: outset;
        border-bottom-right-radius: 120px;
        border-top-right-radius:5px;
        border-top-left-radius:5px;
    }
    .event_slide .historical_details{
        padding: 2% 2% 5% 2%;
        overflow-y: auto;
    }
    .event_slide .historical_details h5 {
        margin:0;  
    }
    .event_slide .historical_details h5 span{
        color:var(--decorativeColor);
    }
    .event_slide .historical_details p{
        overflow: hidden;
        font-size: 0.8em;
    }
    #active{
        display: inline-block;
        margin-left:20%;
     
    }
    #next{
        display:inline-block ;
        margin-left:-20%;
       opacity: 0.6;
       transform: scale(0.8);
    }
    .remark  .prev,.remark  .next {
        z-index: 0;
        background-image: linear-gradient(to right,var(--themeColor),rgba(255, 217, 0, 0.076));
        font-size: 30px;
        box-shadow: 0px 0px 1.5px var(--decorativeColor);
        display: inline;
        color: var(--txtColor);
        margin-top:130px;
        padding: 2% 3% 3% 2%;
        border-radius: 10px;   
        opacity: 0.4;
        transform: scale(0.8);
    }
    .remark  .prev:hover,.remark  .next:hover {
        background-image: linear-gradient(to right,var(--themeColor),rgba(255, 217, 0, 0.076));
        box-shadow: 0px 0px 5px var(--decorativeColor);
        opacity:1;
        transform: scale(1.01);
    }
    .remark  .next {
        float: right;
    }
    .remark  .prev {
        float: left;
    }
/*history.php end*/
/*updates.php */
    .content .searchbar{
        align-items: center;
        padding: 1% 1% 1% 1%;
        color:var(--txtColor);
        width:95%;
    }
    .searchbar input,.searchbar input:active{
        margin: 0% 10% 0% 10%;
        border: 1px solid var(--decorativeColor);
        height:50px;
        font-size: 1.2em;
        width:80%;
        color:var(--txtColor);
        background-color: transparent;
        border-radius: 10px;
    }
    .searchbar h2{
        color: var(--decorativeColor);
    }
    .big_slide{
      width:93%;
      margin: 3% 0% 0 0%;
      padding: 1% 1% 1% 1%;
      font-size: 1.2em;
    }
    .big_slide .slideshow-container{
        padding: 1% 1% 1% 1%;
        margin: 0 0% 0 2.5%;
        width:95%;
        position: relative;
        margin: auto;
    }
    .slideshow-container .prev,.slideshow-container .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        
      }
      .slideshow-container .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      .slideshow-container .mySlides .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      .slideshow-container .mySlides {
        display: none
      }
      .slideshow-container .mySlides img {
        width:20%;
        border-radius: 5px;
        box-shadow: 0 0 10px var(--decorativeColor);
        height:300px;
      }
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      .stories{
        background-color: transparent;
        padding: 1% 1% 1% 1%;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
      }
      .stories .story{
        width:27%;
        height:120px;
        overflow: hidden;
        display: inline-block;
        margin: 1% 1% 1% 2%; ;
      }
      .stories .story p{
        margin:0;
        font-size: 0.7em;
      }
      .stories .story img{
        width:100%;
        height:100px;
        border-radius: 5px;
      }
      .reader h2{
        color:var(--decorativeColor);
      }
      .reader  img{
        margin:2% 1% 2% 1%;
        width:100%;
        border-radius: 5px;
        height: 150px;
        box-shadow: 0px 0px 10px var(--decorativeColor);
      }
      .reader .story_context p {
        max-height:300px;
        width:100%;
        margin:2% 2% 2% 2%;
        padding:2% 2% 2% 0%;
        overflow:auto; 
      }
/*updtaes.php end*/
/*gallery.php */
      .content .package_image{
        max-height:450px;
        width:95%;
        margin:1% 2% 1% 2%;
        padding:1% 1% 1% 1%;
      }
      .package_image img{
        width:24.2%;
        height:80px;
      }
      .memories,.large{
        
        height:300px;
        margin: 1% 1% 1% 1%;
        padding: 1% 1% 1% 1%;
        width:60%;
        display: inline-block;
      }
      .add_image{
        width:30%;
        display:inline-block;
      }
      .add_image img{
        width:100%;
        height:150px;
      }
      .memories .gallery_cont{
        width:100%;
        
      }
      .gallery_images{
        display: none;
      }
      .memories .gallery_cont .gallery_images img,.large img{
        width:100%;
        height:300px;
      }
      .image_viewer{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        bottom: 0;
        transition:animation 1s ease-in-out;
        background-color:rgba(0, 0, 0, 0.963);
        z-index: 10;
        display: flex;
        justify-content: center;
        display: none;
      }
      .image_viewer img{
        margin:auto;
        display: block;
        width:100%;
        height: 50vh;
        top:50%;
      }
      .image_viewer .prev,.image_viewer .next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color:var(--decorativeColor);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }
      .image_viewer .next{
        float: right;
        margin-left:80%;
      }
      .image_viewer .prev{
        float: left;
        margin-left:-80%;
      }
/*gallery.php end*/
/*service.php*/
.songs{
    width:96%;
}
.songs h1,.performance h1{
    color:var(--decorativeColor);
    text-align: center;
    font: 1em;
}
.songs h3 span{
    color:var(--decorativeColor2);
}
.songs .song_right{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    font-size:0.8em;
}
.songs  .song_right .song_description,.songs  .song_right .video_song{
    width:45%;
    height: 60vh;
    padding: 1%;
    margin: 1%;
    vertical-align: middle;
    border-radius: 10px;
}
.songs  .song_right .song_description{
    background-image:var(--gradient);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px var(--txtColor);
    align-content: center;
    justify-content: center; 
}
.songs  .song_right .song_description .song_detail{
    width:fit-content;
    margin: auto;
}
.songs  .song_right .video_song{
    border: none;
    box-shadow: none;
    background-color: transparent;
}
 
/*service.php end*/
    .footer{
        max-width: 95%;
        background-image:var(--gradientfooter);
        border-top: 2px solid var(--decorativeColor);
        padding: 2% 2% 2% 2%;
        font-size: 1em;
    }
    .footer .nav_2,.footer .contacts{
        
        padding: 2% 2% 2% 2%;
        align-items: center;
        width:45%;
        display: inline-block;
    }
    
    .footer .nav_2 li,.footer .contacts li{
       list-style: none;
       color:var(--txtColor2);
    }
    .footer .nav_2 h3,.footer .contacts h3{
        margin: 0% 0% 2% 0%;
        color:var(--decorativeColor);
     }
    .footer li a{
        text-decoration: none;
        color:var(--txtColor2);
    }
    .footer li a:hover{
        color:var(--decorativeColor);
    }
    .footer .copyrights span{
        color:var(--decorativeColor);
    }
    .image_viewer {
        top:0;
        right: 0;
        bottom: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-image: var(--gradient);
        backdrop-filter: blur(10px);
        z-index: 100;
        position: fixed;
        display:none;
       
    }
    .fade-out{
        animation:fadeout 2s 1 alternate ease-in-out; ;
    }
    .fade-in{
        animation:fadein 2s 1 alternate ease-in-out; 
    }
    .image_viewer .cancelbar{
        display: flex;
        width:100%;
        padding: 0% 1%;
        border-bottom: 2px solid var(--decorativeColor);
        border-top: 2px solid var(--decorativeColor);
        background-image: linear-gradient(60deg, var(--themeColor), var(--themeColor), var(--themeColor));
    }
    .image_viewer .cancelbar #closeViewer{
        width: 10%;
        color: var(--decorativeColor);
        font-size: 1.5em;
        transition: transform 0.3s ease-in-out;
        background-color: transparent;
        border: none;
    }
    .image_viewer .cancelbar #closeViewer:hover{
        transform: scale(1.5);
        var(--decorativeColor2);
    }
    .image_viewer .cancelbar #titleViewer{
        text-align: center;
        color:var(--decorativeColor);
        width:80%;
    }
    #slideshow-container {
        border-radius: 0.5rem; /* Tailwind's rounded-lg */
        padding: 1rem; /* Tailwind's p-4 */
        position: relative;
        margin: auto;
        width: 98%;
        height: 80%;
        overflow: hidden;
        background-color: transparent;
    }

    #slideshow-container .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        
    }

    #slideshow-container  .slide img {
        width: 70%;
        height: 80%;
        object-fit: contain;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }

    #slideshow-container .active {
        opacity: 1;
        transform: translateX(0);
    }

    #slideshow-container .next {
        transform: translateX(100%);
        opacity: 0;
    }

    #slideshow-container .prev {
        transform: translateX(-100%);
        opacity: 0;
    }

    #prev-btn, #next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        background-color:var(--themeColor); /* Tailwind's bg-gray-200 */
        color:var(--decorativeColor);
        font-weight: bold; /* Tailwind's font-bold */
        padding: 0.5rem 1rem; /* Tailwind's py-2 px-4 */
        border-radius: 9999px; /* Tailwind's rounded-full */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-md approximation */
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 1.25rem; /* Tailwind's text-xl approximation */
    }

    #prev-btn {
        left: 1rem; /* Tailwind's left-4 */
    }

    #next-btn {
        right: 2rem; /* Tailwind's right-4 */
    }
    #prev-btn:focus, #next-btn:focus {
         box-shadow: 0 0 0 3px var(--txtColor2); /* focus:ring approximation */
    }

@keyframes fad_out {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 0.5;
        
    }
}
@keyframes fad_in {
    0%{
        opacity: 0.5;
       
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes slide_in {
    from{
        margin-left:-105%;
     
    }
    to{
        margin-left:-3%; 
    }
}
@keyframes slide_out {
    from{
        margin-left:-3%;
     
    }
    to{
        margin-left:-105%; 
    }
}
@keyframes typing {
    from{width:0}
}
@keyframes glow{
    0%{
        transform: scale(1.0);
    }
    25%{
        transform: scale(1.025);
    }
    50%{
        transform: scale(1.05);
    }
    75%{
        transform: scale(1.075);
    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes slide_right {
    from{
        margin-left:-3%;
     
    }
    to{
        margin-left:-105%; 
    }
}
@keyframes slide_down {
    from{
        transform: translateY(-100%);
    }
    to{ 
        transform: translateY(0%); 
    }
}
@keyframes slide_up {
    from{
        transform: translateY(100%);
    }
    to{ 
        transform: translateY(0%); 
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120%);
    }
}
@keyframes slideRight {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(100%);
    }
}
@keyframes disolve {
    0% {
       opacity: 1;
    }
    100% {
      opacity: 0;
    }
} 
@keyframes moveLeft{
    from{
        transform: translateX(0%);
    }
    to{
        
        transform: translateX(-200%);
    }
}
@keyframes pop_in {
    from{
         opacity: 0.6;
         transform: scale(0.8);
         margin-left: -20%;
         margin:-20%;
    }
    to{
         opacity: 1;
         transform: scale(1);
         margin:-40%;
    }
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}